h1 {
    color: purple;
    text-align: center;
    font-family: Papyrus, Times, serif;
}

h2, h3 {
    color: gold;
    text-align: center;
    text-decoration-line: underline;
    font-family: Papyrus, Times, serif;
}

li {
  list-style-type: upper-roman;
}


