
/* Body/Headings */
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

/* Page header */
header {
    background-color: #BAA1A7;
    color: #F7EDDE;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* class head not recognized in Css */

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin: 0px 20px;
}

header nav a {
    color: #F7EDDE;
    font-weight: bold;
    text-decoration: none;
}

header .search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

header .search button {
    background-color: #6C4380;
    color: #F7EDDE;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
footer {
    color: white;
    background-color: #E4CAB4;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-child {
    padding-top: 8px;
}

/*Account Page Work*/

.flex-container-AccountPage {
  display: flex; /* or inline-flex */
  flex-direction: column;
  height: 100%
}

.flex-container-AccountMAIN {
  display: flex; /* or inline-flex */
  flex-direction: row;
  height: 100%
}


.flex-container-Profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: red;
}

.section_1_Profile_Hamburger {
    display: flex;
    width:20%;
}

.section_2_Profile_Picture {


}

.section_2_Profile_Picture p {
justify-content: center;
}

.section_2_Profile_Posts {
    flex-basis: auto;
    padding: 1em;
    justify-content: center;
}


/* Search Page */
#filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #F5F5F5;

}

.filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.card {
    flex: 0 0 250px;
    background-color: white;
    margin: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
  
.card img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.card p {
    padding: 0.5rem 1rem;
}
  
html {
    height: 100%;
}


